.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Kumbh Sans';
    background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
}

.container {
    background: #fafafa;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px 15px 0;
    padding-top: 100px;
    width: 300px;
    max-width: 300px;
}

.questions-list {
    margin: 0 20px;
    font-size: 12px;
    width: 90%;
}

.question{
    height: 3em;
    width: 100%;
}

.question p {
    float: left;
    color: hsl(237, 12%, 33%);
}

.question img {
    margin-top: 1.3em;
    float: right;
}

.hidden {
    display: none;
}

hr {
    color: hsl(240, 5%, 91%)
}

.answer p {
    color: hsl(240, 6%, 50%);
}

.bold {
    font-weight: 700;
}